body {
  font-family: 'Open Sans', Arial, sans-serif;

}

h1, h2, h3 {
  font-family: 'Montserrat', Helvetica, sans-serif;
  font-weight: 500;

}
/* New CSS for Marquee animation */


@keyframes marquee-scroll {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(-100%);
    }
}

.marquee-container {
    width: 200px; /* Adjust as needed */
    position: relative;
}

.marquee-content {
    display: inline-block;
    animation: marquee-scroll 15s linear infinite;
    padding-left: 100%; /* Allows the text to scroll in from the right */
}

.samsung-blue {
  color: #1428A0;
}


#program-highlights {
  margin-top: 0; /* or a smaller value like 8px */
  padding-top: 0;
}



.view-details {
  background-color: #1428A0;
}

.contact-btn:hover {
  background-color: #1428A0;
}

.form-btn {
  display: inline-block;
  background-color: #1428A0;
  padding: 12px 20px;
  color: #ffffff;
  text-decoration: none;
  font-size: 16px;
  border-radius: 5px;
}

.form-btn:hover {
  background: #1428A0;
}

